---
layout: layout.liquid
title: Planetary Playing Cards
---

<h1>Planetary Playing Cards</h1>
<main> 
    <section class="planets">
        <article class="planet" id"sun">
             <div class="planet-shape sun"></div>
             <h2>Sun</h2>
             <p>Type:G2V</p>
        </article>
        <article class="planet">
             <div class="planet-shape mercury"></div>
             <h2>Mercury</h2>
             <p>0.4 AU</p>
        </article>
        <article class="planet">
             <div class="planet-shape venus"></div>
             <h2>Venus</h2>
             <p>0.7 AU</p>
        </article>
        <article class="planet">
             <div class="planet-shape earth"></div>
             <h2>Earth</h2>
             <p> 1.0 AU </p>
        </article>
        <article class="planet">
             <div class="planet-shape mars"></div>
             <h2>Mars</h2>
             <p> 1.5 AU</p>
        </article>
        <article class="planet">
             <div class="planet-shape jupiter"></div>
             <h2>Jupiter</h2>
             <p> 5.2 AU </p>
        </article>
        <article class="planet">
             <div class="planet-shape saturn"></div>
             <h2>Saturn</h2>
             <p> 9.6 AU</p>
        </article>
        <article class="planet">
             <div class="planet-shape uranus"></div>
             <h2>Uranus</h2>
             <p> 19.2 AU</p>
        </article>
        <article class="planet">
             <div class="planet-shape neptune"></div>
             <h2>Neptune</h2>
             <p> 30.0 AU</p>
        </article>
    </section>
</main>
    

    

    
