---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>Planetary Playing Cards</h1>
<main>
    <div class="sun">Sun</div>
    <div class="mercury">Mercury</div>
    <div class="venus">Venus</div>
    <div class="earth">Earth</div>
    <div class="mars">Mars</div>
    <div class="jupiter">Jupiter</div>
    <div class="saturn">Saturn</div>
    <div class="uranus">Uranus</div>
    <div class="neptune">Neptune</div>
</main>
    

    

    
