body {
    font-family: Helvetica, sans-serif;
    color: #EAE8FF;
    background: #424242;
    padding: 0 40px;
    text-align: left;
}

nav {
    margin: 40px auto 0 auto;
    width: 250px;
    border-radius: 50px;
    background: #353535;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #EAE8FF;
    text-decoration: none;
    font-size: 1.2em;
}

h1 {
    font-size: 4em;
    letter-spacing: -2px;
}


img.about {
    opacity: 0.5;
}
:root {
    --jack-favorite-color: blue;
    --jack-baseline-grid: 8px;
}

main {
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows:100px;
    gap: 20px 40px;
    background: #626262;
}

.planet {
    background: #a6a5a5;
    text-align:center;
    color: black;
    
}

.planet.sun {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}