body {
    font-family: Helvetica, sans-serif;
    color: #EAE8FF;
    background: #424242;
    padding: 0 40px;
    text-align: left;
}

h1 {
    font-size: 4em;
    letter-spacing: -2px;
}

:root {
    --jack-border: 1 px solid #000;
}

main {
    display:flex;
    justify-content: center;
    padding:20px;
}
.planets {
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    background: #424242;
    gap: 60px;
}

.planet {
    background-color: #a0a0a0;
    border-radius:50%;
    border: var(--jack-border);
    border-radius: 10px;
    align-items:end;
    justify-content: center;
    text-align:center;
    padding: 20px;
}

.planet:hover {
    transform:scale(1.1);
    border: var(--jack-border);
}

 .planet.sun {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}